
.container {
  width: 100vw;
  height: 100vh;
  min-height: 340px;
  padding: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  background: url('/assets/images/pexels-photo-132907.jpeg') no-repeat center fixed;
  background-size: cover;

  .content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
  }
}

.login {
  width: 300px;
  padding: 1rem;
  background-color: transparentize(darken($body-bg, 3%), 0.3);
}

.login-form {
  label {
    @extend .text-muted;
  }
}

.copyright-msg {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  @extend .small;
  @extend .text-muted;
  text-align: center;
  padding: 0.25rem 0;
}

@media (max-height: 320px) {
  .copyright-msg {
    position: absolute;
  }
}
